@{
    ViewData["Title"] = "Index";
}
<link href="./css/pedidos.css" rel="stylesheet" />

<div class="d-flex align-items-center mb-3" style="gap:1rem;">
    Filtros:
    <input class="form-control" id="filtro-idPedido" type="number" placeholder="Id do Pedido" />
    <input class="form-control" id="filtro-nomeCliente" type="text" placeholder="Nome do Cliente" />
    <select class="form-control" id="filtro-status">
        <option value="0">Todos status</option>
        <option value="1">Pendente</option>
        <option value="2">Pago</option>
        <option value="3">Pronto</option>
        <option value="4">Entregue</option>
        <option value="5">Cancelado</option>
    </select>
    <button class="btn btn-secondary w-100" onclick="ListarPedidos()">Filtrar resultados</button>
    <button class="btn btn-secondary w-100" onclick="limpaFiltros()">Remover filtros</button>
</div>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Pedido</th>
            <th>Realizado há</th>
            <th>Status</th>
            <th>Solicitante</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="listaPedidos">
        
    </tbody>
</table>

<div class="modal" id="modalPedidoInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção!</h5>

            </div>
            <div class="modal-body" id="PedidoInfoResult">
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        ListarPedidos();
    })

    var verPedido = function(pedidoId, status, data){
        $.ajax({
            method: "GET",
            url: "/Home/ListarItensPedido?pedidoId="+pedidoId+"&status=" + status + "&dataAbreviada="+ data,
            success: function (data) {
                $("#PedidoInfoResult").html(data)
            }
        })

        $('#modalPedidoInfo').modal({
            show: true
        });
    }

    var ListarPedidos = function () {
        var idPedido = $("#filtro-idPedido").val()
        var nomeCliente = $("#filtro-nomeCliente").val()
        var status = $("#filtro-status").val()

        $.ajax({
            method: "GET",
            url: "/Home/ListaPedidos?pedidoId=" + idPedido + "&nomeCliente=" + nomeCliente + "&status=" + status,
            success: function (data) {
                $("#listaPedidos").html(data)
            }
        })

    }
    var alterarStatusPedido = function(pedidoId, status){
        $.ajax({
            method: "POST",
            url: "/Home/AlterarStatusPedido?pedidoId=" + pedidoId + "&statusId=" + status,
            success: function (data) {
                console.log(data)

                if (data.success){
                    JsAlert(data.message, function () {
                        location.reload();
                    });
                }
                else {
                    JsAlert("Erro: " + data.message)
                }
            }
        })
    }

    var limpaFiltros = function () {
        $("#filtro-idPedido").val("");
        $("#filtro-nomeCliente").val("");
        $("#filtro-status").val(0);
        ListarPedidos();
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7234/pedidoHub")
        .build();

    connection.on("NovoPedido", (pedido) => {
        console.log("Novo pedido recebido:", pedido);
        if(pedido.success){
            if(pedido.message == "AlterPedido"){
                console.log(pedido.data)
                if ($("#pedido-" + pedido.data.pedidoId).length) {
                    console.log("AlterPedido alt")

                    $("#pedidoValor-" + pedido.data.pedidoId).html("R$ " + pedido.data.pedidoValor.toString().replace(".", ","));
                }
                else {
                    console.log("AlterPedido add")

                        // Montando a nova linha para o pedido
                    const newRow = `
                        <tr id="pedido-${pedido.data.pedidoId}">
                            <td>
                                <div class="btn btn-sm btn-secondary" onclick="verPedido(${pedido.data.pedidoId}, '${pedido.data.statusNome}', '${pedido.data.pedidoDataAbreviada}')">
                                    <i class="fas fa-search"></i>
                                </div>
                            </td>
                            <td>${pedido.data.pedidoId}</td>
                            <td>${pedido.data.pedidoDataAbreviada}</td>
                            <td>
                                <div class="status">
                                    <i class="fas fa-circle ${pedido.data.statusNome}"></i>
                                    <div>
                                        ${pedido.data.statusNome}
                                    </div>
                                </div>
                            </td>
                            <td>${pedido.data.clienteNome}</td>
                            <td id="pedidoValor-${pedido.data.pedidoId}">${pedido.data.pedidoValor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</td>
                            <td>
                                <button class="btn btn-sm btn-danger">Cancelar</button>
                            </td>
                        </tr>
                    `;
                    $("#listaPedidos").prepend(newRow);
                }
            }
            else if(pedido.message == "RemovPedido"){ //é chamado no momento em que alguém retira um item do carrinho
                if(pedido.data.pedidoValor > 0) {//se o valor for maior que 0, altera o valor exibido
                    $("#pedidoValor-" + pedido.data.pedidoId).html("R$ " + pedido.data.pedidoValor.toString().replace(".", ","));
                }
                else {// se não remove o item da lista
                    $("#pedido-" + pedido.data.pedidoId).remove();
                }
            }
            
        }

    });

    connection.start().catch(err => console.error(err.toString()));

</script>