:root {
    --primary: #594acc;
    --primary-200: #6f5dd2;
    --primary-400: #8370d8;
    --primary-600: #9683de;
    --primary-800: #a997e4;
    --primary-1000: #bbabea;
    /*-----*/
    --surface: #ffffff;
    --surface-200: #DADADA;
    --surface-400: #aaaaaa;
    --surface-600: #9c9c9c;
    --surface-800: #8f8f8f;
    --surface-1000: #828282;
    /*-----*/
    --mixed: #1a1822;
    --mixed-200: #2f2d37;
    --mixed-400: #46444d;
    --mixed-600: #5d5b64;
    --mixed-800: #76747c;
    --mixed-1000: #908f94;
    --color: #000000;
    /*-----*/
    --table-border: #dee2e6;
    --table-tr-odd: rgba(0, 0, 0, 0.075);
    /*-----*/
    --form-control-placeholder: #6c757d;
    --form-control-color: #495057;
    --form-control-color-focus: #495057;
    --form-control-background: #ffffff;
    --form-control-background-focus: #ffffff;
    --form-control-border: #ced4da;
    --form-control-border-focus: #80bdff;
}

.dark-mode {
    /*-----*/
    --primary: #594acc;
    --primary-200: #6f5dd2;
    --primary-400: #8370d8;
    --primary-600: #9683de;
    --primary-800: #a997e4;
    --primary-1000: #bbabea;
    /*-----*/
    --surface: #121212;
    --surface-200: #282828;
    --surface-400: #3f3f3f;
    --surface-600: #575757;
    --surface-800: #717171;
    --surface-1000: #8b8b8b;
    /*-----*/
    --mixed: #1a1822;
    --mixed-200: #2f2d37;
    --mixed-400: #46444d;
    --mixed-600: #5d5b64;
    --mixed-800: #76747c;
    --mixed-1000: #908f94;
    /*-----*/
    --color: #fff;
    /*-----*/
    --table-border: var(--surface-200);
    --table-tr-odd: var(--surface-200);
    /*-----*/
    --form-control-placeholder: var(--surface-1000);
    --form-control-color: var(--color);
    --form-control-color-focus: var(--color);
    --form-control-background: var(--surface);
    --form-control-background-focus: var(--surface);
    --form-control-border: var(--surface-1000);
    --form-control-border-focus: var(--surface-200);
    /*-----*/
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    background: var(--surface);
    color: var(--color);
}



nav {
    background: var(--surface-200);
}

nav a {
    color: var(--color);
}

nav a:hover {
    color: var(--primary);
}

.modal-content {
    background: var(--surface-200)
}

/* Estilos básicos para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    right: 0; /* Alinha o menu principal à direita */
}

    .dropdown-content div {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content div:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para o submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .submenu-content {
    display: none;
    position: absolute;
    right: 100%; /* Posiciona o submenu à esquerda */
    top: 0;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-submenu:hover .submenu-content {
    display: block;
}

.Pendente {
    width: 8px;
    height: 8px;
    color: #aaa;
}

.Pago {
    width: 8px;
    height: 8px;
    color: #00f;
}

.Pronto {
    width: 8px;
    height: 8px;
    color: #ff0;
}

.Entregue {
    width: 8px;
    height: 8px;
    color: #0f0;
}

.Cancelado {
    width: 8px;
    height: 8px;
    color: #f00;
}

.status {
    display: flex;
    align-items: center;
}
