
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />



<div id="produtos" class="containerProduto">
</div>


<script>
    $(function () {
        listarItens();
    });
    var listarItens = function () {
        $.ajax({
            url: "/Bag/ListaProdutosBag",
            method: "GET",
        }).done(function (data) {
            $("#produtos").html(data)
        });
    }

</script>